@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}

img {
  @apply inline-block;
}

.swiper-slide {
  @apply text-center;
}
.products .swiper-wrapper {
  @apply md:h-[510px];
}
